.mat-card {
  background-color: #0b0255;
  color: white;
  max-width: 250px;
  left: 30px;
  top: 50px;
}

.mat-card-avatar {
 width: 100%!important;
}

.user {
  text-align: center;
}

.image-container {
  text-align: center;
  height: 200px;
 
}

.image {
  width: 200px;
  height: 200px;
  
  
  border-radius: 125px;
  
}

.progress-bar {
  height: 20px;
}

.title {
  color:#0b0255;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #0b0255;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px auto;

}





