.button {

    position: relative;
    left: 20px;
    top: 20px;
    background-color: #16dfdf;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 12px;
    
    }
    
    .modal-header {
    
      background-color:#8df7f7;
    }
    
    .modal-title {
      font-size: 20px; ;
      color: #0b0255;
    
    }
    
    .modal-body {
    
      color: #0b0255;
      font-weight: bold;
    
    }
    
    .button-2 {
    
      background-color: #16dfdf;
      border: none;
      color: white;
      padding: 8px 14px;
      font-size: 12px;
      border-radius: 12px;
    
      }
    
    .local {
    
      position: relative;
    
    
    }