.filter {

  position: relative;
  top: 15px;
  padding: 12px 20px;
  margin:15px auto;
  width:30%;
}

.button {

    position: relative;
    top: 15px;
    float: right;
    background-color: #0b0255;
    border: none;
    color: white;
    margin:15px auto;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 12px;
    
    }


    .example-fill-remaining-space {
      flex: 1 1 auto;
    }
    
    .modal-header {
    
      background-color: #0b0255;
    }
    
    .modal-title {
      font-weight: bold;
      color: #19bebe;
    
    }
    
    .modal-body {
    
      color: #0b0255;
      font-weight: bold;
  
    }
    
    .button-2 {
    
      background-color: #19bebe;
      border: none;
      color: white;
      padding: 8px 14px;
      font-size: 12px;
      border-radius: 12px;
    
      }

      .close {
        color: white;
        pointer-events: auto;
    }
    
    .close:hover{
        color:white;
    }
    
.text {
  text-align: center;
  position: relative;
  color: #000000;
  font-weight: normal;
}
