.button {

    position: relative;
    left: 20px;
    top: 20px;
    background-color:#19bebe;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 12px;
    
    }
    
    .modal-header {
    
      background-color: #0b0255;
    }
    
    .modal-title {
      font-weight: bold;
      color: #19bebe;
    
    }
    
    .modal-body {
    
      color: #0b0255;
      font-weight: bold;
    
    }
    
    .button-2 {
    
      background-color: #19bebe;
      border: none;
      color: white;
      padding: 8px 14px;
      font-size: 12px;
      border-radius: 12px;
    
      }

      .close {
        color: white;
        pointer-events: auto;
    }
    
    .close:hover{
        color:white;
    }
    
    
