<div class="container col-md-9">

<input class="filter" type="text" placeholder="Filter..."
  (keyup)="updateFilter($event)" /> 
  
  <button class="button" (click)="open(content)">Create Session</button> 
  <p></p>
  
  
<ngx-datatable #table class="material expandable" [columns]="columns" [columnMode]="ColumnMode.force"
  [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5" [rows]="rows">
  <!-- Column Templates -->
  <ngx-datatable-column id="lo" [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
    [canAutoResize]="false">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
        title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
      </a>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="id">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{ value }}</strong>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column class="column" name="title">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column class="column" name="sessionDate">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value.substr(0, 20) | date }}
    </ng-template>
  </ngx-datatable-column>
  <!-- Row Detail Template -->
  <ngx-datatable-row-detail name="users" rowHeight="auto" #myDetailRow (toggle)="onDetailToggle($event)">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <table class="table">
        <thead>
          <th>
            User:
          </th>
          <th>
            How would you rate the session's productivity?
          </th>
          <th>
            Do you think the subject is appropriate?
          </th >
          <th>
            In general how would you rate the instructor's performance?
          </th>
          <th>
            Was the mail goal achieved?
          </th>
          <th>
            In your opinion what could be an improvement for future sessions?
          </th>
        </thead>
        <tbody>
          <tr  *ngFor="let sub of row.subs">
            <td >{{sub.user.name}}</td>
            <td *ngFor="let answer of sub.answers">{{answer}}</td>
            <!--<td *ngFor = "let answer of sub.answers">{{answer}}</td>-->
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngx-datatable-row-detail>
</ngx-datatable>



</div>


<ul>
  <ng-template #content let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Session</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <label>Title: </label>
        <input type="text" [(ngModel)]="title" class="form-control">
      </div>
      <div class="pt-3">
        <label for="formador">Instructor: </label>

        <select [(ngModel)]="instructor" (ngModelChange)="onChangeObj($event)" class="form-control">
          <option  [value]="user.id" *ngFor="let user of users">{{user.name}}</option>
        </select>
      </div>
      <div class="pt-3">
        <label>Local: </label>
        <input type="text" [(ngModel)]="location" class="form-control">
      </div>
      <div class="pt-3">
        <label>Date: </label>
        <input type="datetime-local" [(ngModel)]="sessionDate" class="form-control">
      </div>
      <div class="pt-3">
        <label>Duration (In minutes): </label>
        <input type="number" [(ngModel)]="duration" class="form-control">
      </div>
      <div class="pt-3">
        <label for="capacity">Capacity: </label>
        <input id="capacity" type="number" min="0" max="50" [(ngModel)]="capacity" class="form-control">
      </div>
      <div class="pt-3">
        <label>Requirements: </label>
        <input type="text" [(ngModel)]="requirements" class="form-control">
      </div>
      <div class="pt-3">
        <label>Description </label>
        <input type="text" [(ngModel)]="description" class="form-control">
      </div>

        

    </div>
    <div class="modal-footer">
      <button type="button" (click)='create(confirmCreate, createError)' class="button-2">Create Session</button>
    </div>
  </ng-template>
</ul>

<ul>
  <ng-template #confirmCreate let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <p class="modal-title" id="modal-basic-title">Success!</p>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="pt-3">
        <p> {{title}} - Session created successfully!</p>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>
</ul>

<ul>
  <ng-template #createError let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <p class="modal-title" id="modal-basic-title">Error!</p>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="pt-3">
        <p class="text"> Failed to create session. Please fill in all the fields.</p>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>
</ul>

