/*  .imagem-fundo {

    background-image: url('https://static.videezy.com/system/resources/thumbnails/000/009/696/original/blue-particles-of-different-sizes-floating-on-dark-blue-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
} */