<p></p>
<h1 class="text-center">Sessions</h1>
<!-- <p></p>
<mat-button-toggle-group *ngIf="activeRoute == '/layout/day-sessions-view'" appearance="legacy" name="fontStyle" aria-label="Font Style" value='Attended'>
  <mat-button-toggle (click)="toggleView('Date')" class="button-view" value="Date"><strong>Date</strong></mat-button-toggle>
  <mat-button-toggle (click)="toggleView('Title')" class="button-view" value="Title"><strong>Title</strong></mat-button-toggle>
</mat-button-toggle-group> -->
<p></p>
<!-- <input *ngIf="toggleDateTitle == 'Title'"  class="filter" type="text" placeholder="Filter..." (keyup)="updateFilter($event)" />  -->
<div  class="positionCalendar">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</div>
<div  class="myClass">
  <div class="menu-item">
    <div *ngFor="let day of displayWeek; let i = index;" [ngClass]="{'active': i === activeDay}" (click)="changeDay(i)">
      <span>{{returnDayNumber(day)}}&nbsp; </span> 
      <span>{{returnMonth(day)}}</span>
      
      <br>
      <span>{{returnDayName(day)}}</span>
      <br>
    </div>

  </div>

  <mat-icon class="pointer left-pointer dis" (click)="goLeft()">
    <i>arrow_back_ios</i>
  </mat-icon>
  <mat-icon class="pointer right-pointer" (click)="goRight()">
    <i>arrow_forward_ios</i>
  </mat-icon>

</div>

<app-sessions  [interval]="displayWeek[activeDay]"></app-sessions>
<!-- [filterTitle]="filterTitle" [toggleDateTitle]="toggleDateTitle" -->
