<p></p>
<h1 class="text-center">Sessions</h1>
<div class="myClass">
  <div class="menu-item">
    <div *ngFor="let day of displayWeek; let i = index;" [ngClass]="{'active': i === activeDay}" (click)="changeDay(i)">
      <span>{{returnMonth(day)}}</span>
      <br>
      <span>{{returnDayNumber(day)}}</span>
      <br>
      <span>{{returnDayName(day)}}</span>
      <br>
    </div>

  </div>

  <mat-icon class="pointer left-pointer dis" (click)="goLeft()">
    <i>arrow_back_ios</i>
  </mat-icon>
  <mat-icon class="pointer right-pointer" (click)="goRight()">
    <i>arrow_forward_ios</i>
  </mat-icon>
</div>

<app-sessions [interval]="displayWeek[activeDay]"></app-sessions>