.table {

    background-color: white;
    width: 80%;
    padding: 30px;
    text-align: center;
    border: solid;
    border-color: #0b0255;
       
}

.table-top {

    background-color: #0b0255;
    color: white;
    text-align: center;
}

.line {

    text-align: center;
    height: 30px;
    
}



