.adminUserTable {

    top: 10px;
    position: relative;
    text-align: center;
    width: 100%;  
    border-radius: 20px;
       
}

.text-center {

    color: #0b0255;
    font-weight: bold;
    font-size: 40px;
}
.button2:disabled{
    color: #a8a7b3;
    border-color: #a8a7b3;

}

.button:disabled{

    background-color: #a8a7b3;

}

.table-top {

    background-color: #0b0255;
    color: white;
    
}


.button {

position: relative;
background-color: #19bebe;
border: none;
color: white;
padding: 5px 15px;
font-size: 13px;
border-radius: 20px;
}

.adminUserTable td {

    padding: 0.75rem;
    vertical-align: middle !important;
    background-color: white;
    color: black;
<<<<<<< HEAD
=======
    font-weight: 400;
    

>>>>>>> origin/dev
}
.button2 {

    position: relative;
    background-color: white;
    border: none;
    color:red;
    border: solid;
    border-color: red;
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 20px;

}

.modal-header {

    background-color: #0b0255;
}

.modal-title {

    color: #19bebe;
    font-weight: bold;

}

.close {
    color: white !important;
    pointer-events: auto;
}

.close:hover{
    color:white !important;
}

.filter {

    position: relative;
    top: 15px;
    padding: 12px 20px;
    margin:15px auto;
    width:30%;
  }

