<mat-toolbar>
  <mat-toolbar-row>
    <span class="menu-spacer"></span>


    <!-- <mat-progress-bar *ngIf="this.progressBar" mode="determinate" value="40">
    </mat-progress-bar> -->

    <!-- <span class="example-fill-remaining-space"></span> -->
    <h1 class="title">CriticalTraining</h1>
    <!--  <span class="example-fill-remaining-space"></span> -->
    <button *ngIf="this.dropDownButton" mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>


    <button *ngIf="this.registerButton" class="buttonModal" (click)="open(content)">Register</button>

  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav position="end" #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'layout/day-sessions-view'" (click)='sidenav.toggle()' routerLinkActive="active-list-item"> Daily Sessions </a>
      <a mat-list-item [routerLink]="'layout/all-sessions-view'" (click)='sidenav.toggle()' routerLinkActive="active-list-item"> All Sessions </a>
      <!-- <a mat-list-item [routerLink]="'layout/'"> Sessoes Marcadas </a> -->
      <a mat-list-item [routerLink]="'layout/history-view'" (click)='sidenav.toggle()' routerLinkActive="active-list-item"> Track Record </a>
      <a mat-list-item [routerLink]="'layout/questions-view'" (click)='sidenav.toggle()' routerLinkActive="active-list-item"> Survey </a>
      <a mat-list-item [routerLink]="'layout/user-tools-view'" (click)='sidenav.toggle()' routerLinkActive="active-list-item"> Edit User </a>
      <a *ngIf='isAdmin' mat-list-item [routerLink]="'layout/admin-manage-sessions-view'"
        (click)='sidenav.toggle()' routerLinkActive="active-list-item">Manage Sessions</a>
      <a *ngIf='isAdmin' mat-list-item [routerLink]="'layout/admin-manage-users-view'" (click)='sidenav.toggle()' routerLinkActive="active-list-item">Manage
        Users</a>
      <a mat-list-item (click)='sidenav.toggle();logOut(sidenav)' routerLinkActive="active-list-item"> Log Out </a>
    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content>
    <div>


      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>



<ul class="nav navbar-nav nav-flex-icons ml-auto">

  <ng-template #content let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Sign Up</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <label>Name: </label>
        <input type="text" [(ngModel)]='name' class="form-control">
      </div>
      <div class="pt-3">
        <label>E-mail: </label>
        <input type="text" [(ngModel)]='email' class="form-control">
      </div>
      <div class="pt-3">
        <label>Password: </label>
        <input type="password" [(ngModel)]='userpw' class="form-control">
      </div>
      <div class="pt-3">
        <label>Confirm password: </label>
        <input type="password" [(ngModel)]='userpwc' compare-to='userpw' required class="form-control" />
      </div>
      <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
      <div class="error" *ngIf='errorMsg'>
        <p>Password does not match</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="buttonRegister" (click)="register(userCreated)">Register</button>
    </div>
  </ng-template>
</ul>

<ng-template #userCreated let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-success">Success!</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="success text-center">
    <br>
    <p>A user named {{name}} has been created!</p>
  </div>
  <div class="text-center">
    <button type="button" class="done" color="success" (click)="modal.dismiss('Cross click')">Done</button>
  </div>
  <br>
</ng-template>