.mat-toolbar {
    color: #16dfdf;
    background-color: #0b0255;
}

.mat-sidenav {
    background-color: #b2f6f8;
  
  }
  
  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  
  .bar {
  
    position: relative;
    left: 20px;
    width: 100px;
  
  }
  
  .icon {
  
    position: relative;
    left: 20px;
    width: 40px;
    font-size: 36px;
  
  }

  .error {
   
    color: #f50000;
  }

  .modal-title {

    color:#0b0255;
    font-size: 25px;
    font-weight: bold; 
  }

  .modal-body {

    color: #0b0255; 
    font-size: 13px;
    font-weight: bold;
    
  }

  .buttonRegister {

    background-color: #19bebe;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 20px;

  }

  .buttonModal {

    background-color: #19bebe;
    padding: 5px 20px;
    font-size: 15px;
    border: none;
    color: white;
    border-radius: 20px;
  }
  
  
  