<mat-toolbar >
    <mat-toolbar-row>
      <span class="menu-spacer"></span>
      <img src="https://www.criticaltechworks.com/img/_6AaJMV5c-logo_banner.svg" width="10%">
      <mat-icon *ngIf="this.userFace" class="icon">account_circle</mat-icon>
      <mat-progress-bar *ngIf="this.progressBar" class="bar" mode="determinate" value="40">
      </mat-progress-bar>
      <span class="example-fill-remaining-space"></span>
        <button mat-icon-button>
        <mat-icon *ngIf="this.dropDownButton" (click)="sidenav.toggle()">menu</mat-icon>
      </button>
  
  
    </mat-toolbar-row>
  </mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav position="end" #sidenav>
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/day-sessions-view'"> Sessoes do dia </a>
        <a mat-list-item [routerLink]="'/history-sessions-view'"> Todas as sessoes </a>
        <!-- <a mat-list-item [routerLink]="'/Sessıes Marcadas'"> Sessıes Marcadas </a> -->
        <a mat-list-item [routerLink]="'/history-view'"> Historico </a>
        <a mat-list-item [routerLink]="'/questions-view'"> questionarios </a>
        <a mat-list-item [routerLink]="'/user-tools-view'"> Editar </a>
        <a mat-list-item [routerLink]="'/admin-manage-sessions-view'"> Gerir Sessao </a>
        <!-- <a mat-list-item [routerLink]="'/Gerir Utilizadores'"> Gerir Utilizadores </a> -->
        <a mat-list-item [routerLink]="'/Log Out'"> Sair </a>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item></a>
  
      </mat-nav-list>
  
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>