<ul class="nav navbar-nav nav-flex-icons ml-auto">

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Sign Up</h4>
            <button type="button" class="close" aria-label="Close" (click)="('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <label>Name: </label>
                <input type="text" class="form-control">
            </div>
            <div class="pt-3">
                <label>E-mail: </label>
                <input type="text" id="mailRegister" class="form-control">
            </div>
            <div class="pt-3">
                <label>Password: </label>
                <input type="text" id="pwRegister" class="form-control">
            </div>
            <div class="pt-3">
                <label>Confirm password: </label>
                <input type="text" id="cpwRegister" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="('Save click')">Register</button>
        </div>
    </ng-template>

    <button class="btn btn-info btn-rounded btn-sm waves-effect waves-light auth-modal-toggle"
        (click)="open(content)">Register</button>
</ul>