<div class="container col-md-6">
  <p></p>
  <h1 class="title"> Edit User's Profile</h1>


  <div class="edit" #editForm>
    <div>
      <label>New Username </label>
      <input type="text" [(ngModel)]="name" class="form-control">
    </div>
<!--     <div class="pt-2">
      <label>New e-mail </label>
      <input type="email" [(ngModel)]="email" class="form-control">
    </div> -->
    <div class="pt-3">
      <label>New password: </label>
      <input type="password" #passWord="ngModel" pattern="^(?=.{5,20}$)[a-zA-Z0-9._]+$" [(ngModel)]="password" required class="form-control">
      <div class="text-danger" [hidden]="passWord.valid || passWord.untouched">
        <div *ngIf="passWord.errors && passWord.errors.pattern">
          Password must have at least 5 alphanumeric characters.
        </div>
      </div>
    </div>
    <div class="pt-3">
      <div>
      <div><label>Profile Picture:</label></div>
     <!-- <div mat-card-avatar class="image"></div> -->
      <img *ngIf="showImage" height="200" [src]="imgUrl">
      <input type="file" class="file" (change)="onFileChanged($event)">
    <div class="error">

    </div>
    <p></p>

    <!-- TODO: Implementar o password check neste modal -->

    <button class="button-confirm" (click)="open(content)">Confirm</button>
  </div>
  <ul>
    <ng-template #content let-modal let-c="close" let-d="dismiss">
      <div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="pt-3">
          <label>Insert old password: </label>
          <input type="password" [(ngModel)]='passToConfirm' class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" (click)='editUser()' class="buttonPassword">Confirm</button>
        </div>
      </div>
    </ng-template>
  </ul>