.title {

    margin-top: 15px;
  color:#0b0255;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.edit {

    
    padding: 8px 20px;
    width: 70%;
    margin: auto;
    border-color: none;
    background-color: white;
    opacity: 90%;
    color: #0b0255;
    border-radius: 10px;
    
  
}

input [type=text] {

    padding: 8px 20px;
    margin: 5px 0;
}

.button-confirm {

position: relative;

background-color: #19bebe;
border: none;
color: white;
padding: 12px 20px;
font-size: 15px;
border-radius: 20px;
}

.buttonPassword {

    position: relative;
    background-color: #19bebe;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 15px;
    border-radius: 20px;
    }

.modal-body {

    color: #0b0255;
}

.header {
    padding: 15px;
    background-color: #0b0255;
    color: #19bebe;
}

input[type="file"]{
    @media only screen and (max-width: 990px) {
        font-size: 1.3vw;
    }
}

.close {
    color: white !important;
    pointer-events: auto;
}

.close:hover{
    color:white !important;
}
.class{
    background-color: #0b0255; ;
}
