<div class="container">
  <h1> Editar perfil de utilizador</h1>


  <form #editForm="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="pt-3">
      <label>New Username </label>
      <input type="text" [(ngModel)]="user.name" class="form-control">
    </div>
    <div>
      <label>New e-mail </label>
      <input type="text" [(ngModel)]="user.email" class="form-control">
    </div>
    <div class="pt-3">
    <label>Confirm password: </label>
    <input type="password" [(ngModel)]='userpwc' compare-to='userpw' required class="form-control" />
    </div>
      <div class="error" *ngIf='errorMsg'>
        <p>Passwords do not match</p>
    </div>
    <button type="submit" (click)="editUser()"> Confirmar </button>
</form>




</div>