.button {

position: relative;
background-color: #19bebe;
border: none;
color: white;
padding: 12px 20px;
font-size: 15px;
border-radius: 20px;

}

.Sign {
    position: relative;
    color: #0b0255;
    font-size: 30px;
    font-weight: bold;
    
}

.text-center {

    align-content: center;
    text-align: center;
    padding: 30px 30px;
    border-style: solid;
    border-color: #0b0255;
    border-width: 1.5px;
}



