

<div class="container col-md-6">
    <p class="p-3"></p>

    <!-- Default form login -->
    <div class="text-center">

        <p class="Sign">Sign in</p>

        <!-- Email -->
        <input type="email" [(ngModel)]="email" class="form-control mb-4" placeholder="E-mail">
        <!-- Password -->
        <input type="password" [(ngModel)]="userpw" class="form-control mb-4" placeholder="Password" (keyup.enter)="login()">

        <div class="d-flex justify-content-around">
            
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                  
                </div>
           
        </div>

        <!-- Sign in button -->
       
        <button class="button" type="submit" (click)="login()">Sign in</button>

    </div>
    <!-- Default form login -->

</div>
<!--Section: Live preview-->


