.button {

position: relative;
background-color: #19bebe;
border: none;
color: white;
padding: 12px 20px;
font-size: 15px;
border-radius: 20px;

}

.Sign {
    position: relative;
    color: #0b0255;
    font-size: 30px;
    font-weight: bold;
    
}

.text-center {
   
    padding: 30px;
    width: 60%;
    margin: auto;
    border-color: none;
    background-color: white;
    opacity: 80%;
    border-radius: 50px;
    
}

.modal-header{
    
    color: #19bebe;
    background-color: #0b0255;
    
}
.modal-header h4{
    font-weight: bold;
}
.modal-body{
    text-align: center;
    
}
.close {
    color: white;
    pointer-events: auto;
}

.close:hover{
    color:white;
}



